/* @font-face {
    font-family: 'Just Ext';
    font-display: swap;
    src: url('~/assets/fonts/JUST Sans ExBold.woff2') format('woff2'), 
         url('~/assets/fonts/JUST Sans ExBold.woff') format('woff');
    font-weight: 900;
  }
  @font-face {
    font-family: 'Just Semi';
    font-display: swap;
    src: url('~/assets/fonts/JUST Sans SemiBold.woff2') format('woff2'), 
         url('~/assets/fonts/JUST Sans SemiBold.woff') format('woff');
    font-weight: 500;
  }
  @font-face {
    font-family: 'Just Reg';
    font-display: swap;
    src: url('~/assets/fonts/JUST Sans Regular.woff2') format('woff2'), 
         url('~/assets/fonts/JUST Sans Regular.woff') format('woff');
    font-weight: 400;
  }

  @font-face {
     font-family: 'Good Brush';
     font-display: swap;
     src: url('~/assets/fonts/Good Brush.woff2') format('woff2'), 
          url('~/assets/fonts/Good Brush.woff') format('woff');
     font-weight: 400;
   } */