*{
    --size-max-width: 1440px;
    --size-grid-gap: 22px;
}
html{
    font-family: 'Just Reg', sans-serif;
    min-height: 100%;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: #fafafa;
}
.content{
    padding: 40px 56px;
}

body{
    position: relative;
    background-color: #fafafa;
}

section{
    position: relative;
}
.container_wrapper{
    @media (min-width: 1025px){
        width: 1200px;
    }
    @media (max-width: 1280px){
        width: 1100px;
    }
    @media (max-width: 768px){
        width: 468px;
    }
    @media (max-width: 468px){
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
}
img{

    height: 100%;
    display: block;
    user-select: none;
    object-fit: cover;
}
h1{
    font-family: var(--font_just_ext);
    font-size: 8rem;
    line-height: 0.8;
    @media (min-width: 1280px){
        font-size: 187px;
        line-height: .8;
    }
    @media (max-width: 768px){
        font-size: 5rem;
        line-height: .8;
    }
    @media (max-width: 490px){
        font-size: 4.4rem;
        line-height: .8;
    }
    @media (max-width: 400px){
        font-size: 3.3rem;
        line-height: .8;
    }
}
h3{
    font-family: var(--font_just_ext);
    font-size: 4.5rem;
    @media (min-width: 1280px){
        font-size: 107px;
    }
    @media (max-width: 768px){
        font-size: 2.5rem;
    } 
    @media (max-width: 490px){
        font-size: 1.9rem;
    }
}
a{
    font-family: var(--font_just_reg);
    font-size: 1rem;
}

.max_width{
    max-width: var(--size-max-width);
    margin-inline: auto;
    padding-inline: var(--size-grid-gap);
}
input{
    &:focus-visible{
      outline: none;
    }
  }